root = true

[*.{cpp,h}]
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = tab
indent_size = 4

# Ignore paths

[libgit2/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset

[helix-core-api/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset

[{*.sh, *.bash}]
indent_style = space
indent_size = 2
switch_case_indent = true