# Build binaries
/build/
/release/
helix-core-api/

# Misc.
.DS_Store
.vscode/
*.zip

# Depot conversion results
clones/
*.log

# Testing failures
core

# Test output.
/verify/

/release/

# Ignore secert and env files
**/**/*.secrets
**/**/*.env

# nix-related
result
source/
outputs/

# clangd related files
.cache/
compile_commands.json
