name: format-check

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: DoozyX/clang-format-lint-action@v0.11
      with:
        source: 'p4-fusion'
        extensions: 'h,cc'
        clangFormatVersion: 11
